/resource_folder_gen/circuit.png
/resource_folder_gen/counts.pkl
/resource_folder_gen/created_circuit.pkl
/resource_folder_gen/schrodinger_dice_wavefunction_collapse.gif
/resource_folder_gen/superposition_all.png
/resource_folder_gen/keys.txt